extends layout

block content
  if authorised
    h2 
      span.btn.btn-success #{fname}   
    if typeof user == 'undefined'    
        form(method='POST')
            div.row.justify-content-center  
                input#user_id(type='hidden', name='user_id',value=user_id)                         
                br
                label(for='currPass').col-md-4
                    b Current Password
                div.col-md-8
                    input#currPass(type='password', name='currPass', required='required').form-control          
                br 
                br
                button(type='submit') OK
    else 
        form(method='POST',action="confirm-password")
            div.row 
                h4.text-center 
                    span Mail Address :  #{user[0].user_email}
            hr
            div.row.justify-content-center  
                input#nuser_id(type='hidden', name='nuser_id',value=user[0].user_id)                         
                br
                label(for='newPass').col-md-2
                    b New Password
                div.col-md-4
                    input#newPass(type='password', name='newPass', required='required').form-control          
                br 
                label(for='confPass').col-md-2
                    b Confirm Password
                div.col-md-4
                    input#confPass(type='password', name='confPass', required='required').form-control          
                br 
                br
                button(type='submit') OK      
  else
    //- p Don't have an account yet? 
    //-   a(href='/register') Register
    p Already have an account? 
      a(href='/login') Login