extends layout

block content
  if authorised && fname=="Admin"
    h2 
      span.btn.btn-success #{fname} 
      a(href="/user-process").btn.btn-outline-primary User Process
      a(href="/user-process-clear").btn.btn-outline-primary User Process Clear
      a(href='/register').btn.btn-outline-warning Register
    if typeof users != 'undefined'
    p User list
    ul.list-group
      each user in users
        li.list-group-item.list-group-item-action.list-group-item-primary= user.user_fname    
  else if authorised
    h2 
      span.btn.btn-success #{fname} 
      a(href="/user-status",).btn.btn-outline-primary User Status
    if typeof users != 'undefined'
    p User list
    ul.list-group
      each user in users
        li.list-group-item.list-group-item-action.list-group-item-primary= user.user_fname
  else
    //- p Don't have an account yet? 
    //-   a(href='/register') Register
    p.alert.alert-warning You don't have an account, contact with Admin 
    a(href='/login').btn.btn-outline-info Login