extends layout

block content
  if authorised
    p Welcome #{fname} | 
      a(href="/exit") Log Out | 
      a(href="/") Home
    if typeof users != 'undefined'
      form(method='POST')
        label(for='userSelect')
            b User
        select(id="userSelect", name="user_id")
            option(value="0") Select User
            each user in users                   
                option(value="#{user.user_id}") #{user.user_fname}    
        br
        br    
        label(for='month')
            b Select Month
        input#month(type='month', name='month', required='required')
        br
        br 
        label(for='breakfast')
            b Breakfast
        input#breakfast(type='number', name='breakfast', required='required')
        label(for='lunch')
            b Lunch
        input#lunch(type='number', name='lunch', required='required')
        label(for='dinner')
            b Dinner
        input#dinner(type='number', name='dinner', required='required')
        br
        br 
        button(type='submit') Process One One Month Meal

  else
    p Don't have an account yet? 
      a(href='/register') Register
    p Already have an account? 
      a(href='/login') Login